
*.asv
Model/Results/
Model/EXTRA_CODE_THAT_IS_IN_LIMBO.txt
Model/FunctionalityTests/
Model/slprj
Model/Simulink/slprj
*.slxc
Model/KalmanFilter/SimulinkFiles/slprj
*.autosave
Model/KalmanFilter/Results/CovarMatrixAnalysis/MyData.mat
Model/KalmanFilter/Results/CovarMatrixAnalysis/CovarEst_Combined_SOC50_Ts1_Q0.001_R1e-06.mat
Notes/Images


Notes/ModelingNotes.aux
Notes/ModelingNotes.bbl
Notes/ModelingNotes.blg
Notes/ModelingNotes.log
Notes/ModelingNotes.synctex.gz
